<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.swjtuhc.accounting_management_api.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="top.swjtuhc.accounting_management_api.entity.User">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="role" column="role" />
            <result property="status" column="status" />
            <result property="createdTime" column="created_time" />
            <result property="updatedTime" column="updated_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,role,status,created_time,
        updated_time
    </sql>
</mapper>
